* {
  margin: 0px;
  padding: 0px;
}

main,
nav,
header,
section,
footer,
aside,
section,
div {
  display: block;
}

body {
  background-color: #212121;

}

#logo2 > img {
  position: relative;
  top: 28px;
  left: 28px;
}
#wrapper_all {
  margin: 0 auto;
  width: 1000px;
}
#wrapper_all2 {
  margin: 0 auto;
  width: 1400px;
}

#header_layout1 {
  position: relative;
  display: block;
  width: 100%;
  height: 388px;
  background-color: #517a8d;
}

header #menu {
  position: absolute;
  right: 1px;
  bottom: 0;
  float: right;
}
#menu > ul > li > a {
  display: flex;
  width: 242px;
  height: 57px;

  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: black;
  background-color: #ffcdd2;
  text-decoration: none;

  flex-direction: column;
  justify-content: center;
  text-align: center;
}
#menu > ul > li > a:hover {
  display: flex;
  width: 242px;
  height: 57px;

  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: black;
  background-color: #fd8f9a;
  opacity: 100%;
  text-decoration: none;

  flex-direction: column;
  justify-content: center;
  text-align: center;
}
#menu > ul > li > #selected {
  pointer-events: none;
  display: flex;
  width: 242px;
  height: 57px;

  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: white;
  background-color: #b94a48;
  text-decoration: none;

  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#menu > ul > li {
  list-style-type: none;
  float: right;
}

#menu > ul {
  display: flex;
}

#main_layout1 {
  background-color: #212121;
  height: 491px;
  width: 100%;
}

#main_layout1 > .container > article {
  background-color: #517a8d;
}

.container {
  display: grid;
  grid-template-columns: 28px [c_st_art_l] 93px [end1] 154px [c_str_art_m] 335px [end2] 25px [c_str_art_r];
  grid-template-rows: 24px [r_st_art_l] 5px [r_st_art_mnr];
}

.art_left {
  grid-column-start: c_st_art_l;
  grid-column-end: end1;
  grid-row-start: r_st_art_l;
  height: 33px;
  width: 93px;
}
.art_middle {
  grid-column-start: c_str_art_m;
  grid-column-end: end2;
  grid-row-start: r_st_art_mnr;

  height: 389px;
  width: 335px;
}
.art_right {
  grid-column-start: c_str_art_r;
  grid-row-start: r_st_art_mnr;

  height: 338px;
  width: 338px;
}

#header_layout2 {
  background-color: #212121;
  width: 100%;
  height: 192px;
}

#nav_left {
  width: 243px;
  height: 1687px;
  background-color: #ffcdd2;
}


#nav_left > ul > li {

  position: relative;
  display: flex;
  height: 135px;
  width: 238px;
  align-items: center;
  padding-left: 5px;
  

}
#nav_left > ul > li:hover {
  height: 135px;
  width: 238px;
  background-color: #fd8f9a;
  opacity: 100%;


}
#nav_left > ul > li > a {
  display: block;
  line-height: 130px;




  color: black;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 20px;
height: 130px;
  width: 100%;
}

#nav_right {
  position: relative;
  width: 339px;
  height: 1687px;
  background-color: #ffcdd2;
}

#selected2 {

  pointer-events: none;
  background-color: #b94a48;
}

#main_layout2 {
  display: grid;
  grid-template-columns: 30px [c1_st] 338px [c1_end] 30px [c2_st] 335px [c2_end] 338px;
  grid-template-rows: 0px [r1_st] 458px [r2_st] 217px [r3_st] 169px [r4_st];

  width: 818px;
  height: 1687px;
}
#main_layout2 > article {
  background-color: #517a8d;
  height: 338px;
  width: 338px;
}
.BX1 {
  grid-column-start: c1_st;
  grid-row-start: r1_st;
}
.BX2 {
  grid-column-start: c2_st;
  grid-row-start: r1_st;
}
.BX3 {
  grid-column-start: c1_st;
  grid-row-start: r2_st;
}
.BX4 {
  grid-column-start: c2_st;
  grid-row-start: r3_st;
}
.BX5 {
  grid-column-start: c1_st;
  grid-row-start: r4_st;
}

.container_flex {
  display: flex;
  flex-direction: row;
}
.art_top {
  position: relative;
  top: 66px;
  left: 170px;
  width: 128px;
  height: 338px;
  background-color: #c0d0e5;
}
.art_bottom {
  position: absolute;
  bottom: 34px;
  left: 106px;
  width: 128px;
  height: 125px;
  background-color: #c0d0e5;
}

footer {
  height: 121px;
  width: 100%;
  background-color: #d6d6d6;
}


/*Layout 3*/
#wrapper_all3{
  margin: 0 auto;
  width : 1000px; 
  display: flex;
  flex-wrap: wrap;
 
}

#header_3{
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 500px;
  background-color: #212121;

}

#header_3 div {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#button_plus
{
  border:none;
  background: none;
  outline: none;
  color: white;
  font-size: 150px;
  cursor: pointer ;
 
}


#logo_3 {
align-self: flex-start;
margin:39px 0px 0px 37px;
}

#nav_3{
align-self: flex-end;
width:100%;
}


#nav_3 > ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  list-style-type: none;

}

#nav_3> ul >li {
  display: table;
  width:33.33334%; 
  height: 62px;
  background-color: #ffcdd2;
}
#nav_3> ul >li:hover {
  display: table;
  width:33.33334%; 
  height: 62px;
  background-color: #fd8f9a;
}

#nav_3 > ul >li > a{
  display: table-cell;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  color: #212121;
  text-align: center;
  vertical-align: middle;
  
}

#selected_3{
  background-color: #b94a48;
  color: white;
  pointer-events: none;
}

.sqr {
  background-color: white;
  height: 50%;
  width: 50%;
  flex-direction: column;
}
.sqrs_container{
  width: 50%;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  flex-direction:column;
}
.sqr:nth-of-type(n):hover{
  background-color: #ffcdd2;

}
.sqr:nth-of-type(n)
{
  opacity: 30%;
}

.sqr:nth-of-type(2n)
{
  opacity: 60%;
}
.sqr:nth-of-type(3n)
{
  opacity: 80%;
}
.sqr:nth-of-type(4n)
{
  opacity: 100%;
}
#main{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
@media only screen and (max-width: 500px)
{
  #wrapper_all3{

    width: 100%;
  }
  .sqrs_container{
    width:100%;
  }

  #logo_3{
    align-self: center;
    margin-left: 0;
    }

    #header_3{
      width: 100%;
      
    }
     
    .sqrs{
      height: 50%;
    }

  }
